.admin-Hospital-loading{
  height:100%;
  width:80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-Hospitals-wrapper{
    width:100vw;
    height:100vh;
    overflow: hidden;
    display: flex;
}
.admin-Hospitals-navbar{
    width:20vw;
    height:100vh;
    border:2px solid black;
}
.admin-Hospitals-details{
    width:80vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin-Hospitals-upper{
    width:90%;
    height:10%;
    display: flex;
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom: 2px solid #D5DDE5;
}
.admin-upper-1{
    width:20%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-upper-2{
    width:40%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-upper-2 input{
    width:60%;
    height:2rem;
    padding-left: 1rem;
    color:#D5DDE5;
    background:#1b1e24;
    border: 2px solid #D5DDE5;
}
.admin-upper-3{
    width:20%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-upper-3-btn{
  width: 60%;
  height: 50%;
  border-radius: 0.5rem;
  background-color: rgb(66, 159, 66);
  display: flex;
  align-items: center;
  justify-content: center;
}
.link{
  color: black;
}
.admin-upper-3-btn:hover{
  background-color: rgb(142, 208, 142);
}
.admin-upper-4{
  width:20%;
  height:100%;
      display: flex;
    align-items: center;
    justify-content: center;
}
.admin-upper-4 button{
  width: 60%;
  height: 50%;
  border-radius: 0.5rem;
  background-color: rgb(65, 77, 99);
  border: none;
}
.admin-upper-4 button:hover{
  background-color: rgb(123, 130, 151);
  cursor: pointer;
}
.admin-Hospitals-detail-wrapper{
    width:90%;
    height:50%;
    overflow-y: scroll;
}
/* table-hospital */

 .table-hospital-fill {
   background: white;
   border-radius:1rem;
   border-collapse: collapse;
   height: 100%;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
   
 }

 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   /* padding:24px;
   text-align:left; */
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
 }

 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color:#666B85;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
   height:5rem;
 }

 tr:hover td {
   background:#4E5066;
   color:#FFFFFF;
   border-top: 1px solid #22262e;
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background:#EBEBEB;
 }
  
 tr:nth-child(odd):hover td {
   background:#4E5066;
 }
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#FFFFFF;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
 }
 td:first-child {
  font-size: 14px;
 }
 td:last-child {
   border-right: 0px;
 }
 
 th.text-hospital-center {
   text-align: center;
 }

 
 td.text-hospital-center {
   text-align: center;
 }
 

 .text-hospital-center-special{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  
 }
 
 .text-hospital-center-special-btn{
  width:60%;
  height:45%;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 99, 206);
  display: flex;
  justify-content: center;
  align-items: center;
 } 
 .text-hospital-center-special-btn:hover{
  background-color: rgb(150, 193, 240);
 }
 